<template>
    <div>
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h1>Кинотеатры Рязани
                        <small>{{ dateNow }}</small>
                    </h1>
                </div>
                <div class="col-md-4"><input class="form-control" placeholder="Поиск" type="search" v-model="searchFilms"></div>
            </div>
        </div>

        <div v-for="kt in kinoteatrs" v-show="showKt(kt)">
            <h3><a :href="kt.link">{{ kt.title }}</a></h3>
            <div class="well">
                <ul class="list-unstyled jetsContent">
                    <li v-for="item in kt['seans']" v-show="filtredFilms.includes(item['search'])" v-if="item && item['film']">
                        <a :href="'http://www.kinopoisk.ru/film/' + item['film']['kpid'] + '/'"
                           v-if="item['film']['kpid'] > 0">{{ item['title'] }}</a>
                        <a :href="'http://www.kinopoisk.ru/index.php?first=yes&what=&kp_query=' + encodeURI(item['title'])"
                           v-else>{{ item['title'] }}</a>
                        - {{ item['seans'] }}
                        <span class="label" v-bind:class="{
                            'label-success': item['film']['rating'] >= 7,
                            'label-default': item['film']['rating'] <= 5,
                            'label-info': item['film']['rating'] < 7 && item['film']['rating'] > 5
                        }" v-if="item['film']['rating']">
                        {{ item['film']['rating'] }} ({{ item['film']['count'] | currency }})
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    let today = new Date();
    let dd = today.getDate();
    let mm = today.getMonth()+1;
    let yyyy = today.getFullYear();

    export default {
        data() {
            return {
                dateNow: dd + '.' + mm + '.' + yyyy,
                search: '',
                searchFilms: '',
                kinoteatrs: [],
                films: []
            }
        },
        mounted() {
            this.getDataKt();
            this.getDataFilms();
        },
        methods: {
            getDataKt() {
                axios.get('/api/kinoteatrs')
                    .then((res) => {
                        let kt = _.map(res.data, function (el) {
                            el.seans = _.map(el.seans, function (s) {
                                s['search'] = s['title'].replace('Ё', 'Е').replace('ё', 'е').toLowerCase();
                                return s;
                            });
                            return el;
                        });

                        this.kinoteatrs = kt;
                    })
            },
            getDataFilms() {
                axios.get('/api/getfilms')
                    .then((res) => {
                        this.films = _.uniq(_.map(res.data, 'title'));
                        this.films = _.map(this.films, function (el) {
                            return el.toLowerCase().replace('ё', 'е');
                        });
                    })
            },
            showKt(kt) {
                let arr = _.map(kt['seans'], 'search');
                return _.intersection(arr, this.filtredFilms).length > 0
            }
        },
        computed: {
            filteredKt() {
                return this.kinoteatrs.filter(item => {
                    return item.title.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                })
            },
            filtredFilms() {
                return this.films.filter(item => {
                    return item.toLowerCase().indexOf(this.searchFilms.toLowerCase().replace('ё', 'е')) > -1
                })
            }
        }
    }
</script>
