
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//.no_date {
//  color: #f5f5f5;
//}

.list-unstyled.jetsContent {
  margin-bottom: 0px;
}

.page-header h1 {
  margin-top: 0px;
}


ul.list-unstyled li {
  padding-bottom: 5px;
}

a {
  color: #4590c1;
  text-decoration: none;
}

.no_date {
  color: #ecf0f1;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: 1px solid rgba(44, 62, 80, 0.3);
  border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid rgba(44, 62, 80, 0.3);
}

footer {
  margin-bottom: 15px;
}

.page-header {
  margin: 21px 0 21px;
}

.page-header h1 {
  margin-top: 0px;
}
